{
  "branches": [
    "main",
    {
      "name": "develop",
      "prerelease": true
    },
    {
      "name": "stage",
      "prerelease": true
    },
    {
      "name": "dev",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "failTitle": false
      }
    ],
    "@semantic-release/release-notes-generator"
  ]
}